<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
			  <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
			  <add name="Access-Control-Allow-Origin" value="https://localhost"/>
			  
		  </customHeaders>
	  </httpProtocol>
  </system.webServer>
</configuration>